@import 'tailwindcss';

:root {
  --color-background: #ffffff;
}

[data-theme='dark'] {
  --color-background: #1d1d1d;
}

@theme inline {
  --color-background: var(--color-background);
}

@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));
